/* .container{
    width: 1440px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0% !important;
} */
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    font-family: 'Satoshi' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #3F3F3F !important;
    background: #FFFFFF !important;
    border: 0.7px solid #3F3F3F !important;
    border-radius: 5px !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    font-family: 'Satoshi' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    text-align: center !important;
    background: #FFFFFF !important;
    border: 0.7px solid #2A945B !important;
    box-shadow: 0px 0px 6px rgba(42, 148, 91, 0.15) !important;
    border-radius: 5px !important;
    color: #2A945B !important;
}

.service h2 {
    text-align: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 51px;
    color: #3F3F3F;
}

.service span {
    color: #2A945B;
}

.service p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #7C7C7C;
}



.why h2 {
    width: 195px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 51px;

    color: #3F3F3F;
}

.why span {
    color: #2A945B;
}

.why p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
    color: #7C7C7C;
}

.license {
    margin-left: 0;
    height: 310px;
    width: 278px;
    left: 0px;
    top: 0px;
    border-radius: 9px;
    background: #FFFFFF;
    border: 0.7px solid #D1D1D1;
    border-radius: 9px;
}

.license img {
    width: 72px;
}

.license h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    /* identical to box height, or 138% */

    text-align: center;
    letter-spacing: 0.01em;

    color: #7C7C7C;

}

.license p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */

    text-align: center;
    letter-spacing: 0.01em;

    color: #7C7C7C;

}

.carousel p {
    margin-left: auto;
    margin-right: auto;
    width: 577px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: start;
    letter-spacing: 0.01em;
    color: #3F3F3F;
}

.carousel h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #3F3F3F;
}

.css-bbreus-MuiButtonBase-root-MuiIconButton-root {
    color: #2A945B !important;


}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
    background-color: white !important;
}

.css-1m9128y {
    padding-bottom: 40px !important;
    margin-top: 60px !important;
}

.vactor {
    margin-top: -35px;
    margin-left: 22px;
}

.healthL {
    margin-right: 83px;
    width: 402px;
    height: 244px;
    background: #D9D9D9
}

.healthR h1 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 51px;

    color: #3F3F3F;
}

.healthR {
    width: 543px;
}

.healthR span {
    color: #2A945B;
}

.healthR p {
    color: #7C7C7C;
}

.healthR input {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    background: #FFFFFF;
    border: 0.7px solid #D1D1D1;
    border-radius: 6px;
    color: #9E9E9E;
}

.healthR button {
    padding: 18px;
    background: #2A945B;
    border-radius: 5px;
    width: 130px;
    margin: -9px
}

.fb button {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;

    color: #FFFFFF;
}

.footerContent h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;

    color: #2A945B;
}

.fc button {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;

    color: #FFFFFF;
}

.fc p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;

    color: #FFFFFF;
}

.fl {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.fd {
    margin-top: 290px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .line4 {
        width: 38px;
        position: absolute;
    }

    .logoText {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 13.194px;
        line-height: 23px;
        color: #3F3F3F;
    }

    .locoColor {
        color: #2A945B;
    }

    .textP {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 7.53945px;
        line-height: 8px;
        letter-spacing: 0.04em;
        color: #7C7C7C;
    }

    .headerM {
        margin-left: auto;
        width: 323px;
        margin-right: auto;
    }

    .headerM h2 {
        width: 231px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }

    .headerM span {
        color: #2A945B;
    }

    .headerM p {
        width: 323px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #7C7C7C;
    }

    .headerImgM {
        margin-left: auto;
        width: 200px;
        margin-right: auto;
    }

    .service h2 {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        color: #3F3F3F;
        width: 220px;
    }

    .service span {
        color: #2A945B;
    }

    .service p {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #7C7C7C;
        width: 248px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    .line4 {
        width: 38px;
        position: absolute;
        margin-right: 219px;
        margin-top: 86px;
    }

    .logoText {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 24.7333px;
        color: #3F3F3F;
    }

    .locoColor {
        color: #2A945B;
    }

    .textP {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 14.1333px;
        line-height: 4px;
        /* identical to box height, or 100% */

        letter-spacing: 0.04em;

        color: #7C7C7C;
    }

    .headerM {
        margin-left: auto;
        width: 323px;
        margin-right: auto;
    }

    .headerM h2 {
        width: 231px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }

    .headerM span {
        color: #2A945B;
    }

    .headerM p {
        width: 323px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #7C7C7C;
    }

    .headerImgM {
        margin-left: auto;
        width: 200px;
        margin-right: auto;
    }

    .service h2 {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        color: #3F3F3F;
        width: 220px;
    }

    .service span {
        color: #2A945B;
    }

    .service p {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #7C7C7C;
        width: 248px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .line4 {

        width: 109px;
        position: absolute;
        margin-right: 226px;
        margin-top: 92px;
    }

    .logoText {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 24.7333px;
        color: #3F3F3F;
    }

    .sm {
        display: none;
    }

    .locoColor {
        color: #2A945B;
    }

    .textP {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 14.1333px;
        line-height: 4px;
        letter-spacing: 0.04em;
        color: #7C7C7C;
    }

    .headerH {
        width: 417px;
    }

    .headerH h2 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }

    .headerH span {
        color: #2A945B;
    }

    .headerH p {
        width: 657px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 36px;
        color: #7C7C7C;
    }

    .headerImg {
        width: 496px;
    }

    .service h2 {
        width: auto;
        text-align: center;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        color: #3F3F3F;
    }

    .service span {
        color: #2A945B;
    }

    .service p {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        color: #7C7C7C;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .line4 {
        width: 109px;
        position: absolute;
        margin-right: 226px;
        margin-top: 92px;
    }

    .logoText {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 24.7333px;
        color: #3F3F3F;
    }

    .locoColor {
        color: #2A945B;
    }

    .textP {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 14.1333px;
        line-height: 4px;
        letter-spacing: 0.04em;
        color: #7C7C7C;
    }

    .headerH {
        width: 417px;
    }

    .headerH h2 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }

    .headerH span {
        color: #2A945B;
    }

    .headerH p {
        width: 657px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 36px;
        color: #7C7C7C;
    }

    .headerImg {
        width: 496px;
    }

    .service h2 {
        width: auto;
        text-align: center;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        color: #3F3F3F;
    }

    .service span {
        color: #2A945B;
    }

    .service p {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        color: #7C7C7C;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .logoText {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 24.7333px;
        color: #3F3F3F;
    }

    .locoColor {
        color: #2A945B;
    }

    .textP {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 14.1333px;
        line-height: 4px;
        letter-spacing: 0.04em;
        color: #7C7C7C;
    }

    .headerH {
        width: 417px;
    }

    .headerH h2 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }

    .headerH span {
        color: #2A945B;
    }

    .headerH p {
        width: 657px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 36px;
        color: #7C7C7C;
    }

    .headerImg {
        width: 496px;
    }

    .service h2 {
        text-align: center;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 51px;
        color: #3F3F3F;
        width: auto;
    }

    .service span {
        color: #2A945B;
    }

    .service p {
        width: auto;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        color: #7C7C7C;
    }

    .line4 {

        width: 109px;
        position: absolute;
        margin-right: 226px;
        margin-top: 92px;
    }
}